*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card:nth-child(1)
{
  background-image: url('./assets/images/icon-communities.svg');
  background-repeat: no-repeat;
  background-position: top left;
}
.card:nth-child(2)
{
  background-image: url('./assets/images/icon-messages.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

@media (max-width:768px) {
  .card:nth-child(1), .card:nth-child(2){
    background-position: top center;
  }
}